*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

body
    padding-top 120px

::selection
    background $laranja
    color #000

::-moz-selection
    background $laranja
    color #000

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%
