// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$laranja = #F47D35
$cinza   = #666666

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
roboto($size, $style = normal, $weight = normal)
    font-size $size + 0px
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

@font-face
    font-family 'MyriadWebPro'
    src: url('../fonts/MyriadWebPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadWebPro-Regular.ttf') format('truetype'),
    font-weight normal
    font-style normal
@font-face
    font-family 'MyriadWebPro'
    src: url('../fonts/MyriadWebPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadWebPro-Bold.ttf') format('truetype'),
    font-weight bold
    font-style normal
myriad($size, $weight = normal)
    font-size $size + 0px
    font-family 'MyriadWebPro', 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight normal
    font-style normal
    if $weight == bold
        font-weight bold
