header
    height 120px
    position fixed
    top 0
    left 0
    right 0
    background #fff
    z-index 5
    transition height .3s
    +below($tablet)
        position absolute
        height 120px !important
    .center
        position relative
        height 100%
    .header-logo
        display block
        float left
        width 75px
        height 100%
        background $img('marca-infinity_business.png') no-repeat center
        background-size 100% auto
        text-indent -9999px
        transition all .3s
    .nav-wrapper
        display flex
        width calc('100% - 100px')
        float right
        height 100%
        align-items center
        nav
            margin-left auto
            white-space nowrap
            a
                roboto 15
                color #000
                text-decoration none
                + a
                    margin-left 8px
                transition color .3s
                &:hover
                    color $laranja
        .links-social
            margin 0 12px
            .social
                width 16px
                height 16px
                text-indent -9999px
                display block
                + .social
                    margin-top 4px
                sociais = facebook instagram
                for rede in sociais
                    &.{rede}
                        background $img(rede + '.png') no-repeat center
        .telefones
            margin 0
            margin-left 2px
            margin-right 10px
            myriad 14 bold
            border-left 1px solid #000
            padding-left 10px
            padding-top 10px
            padding-bottom 10px
            span
                display block
                min-height 17px
                white-space nowrap
                padding-left 22px
                &:nth-child(1)
                    background $img('telefone.png') no-repeat left center
                &:nth-child(2)
                    background $img('whats.png') no-repeat left center
                    margin-top 4px
        .lang-wrapper
            margin-left 5px
            .lang
                display block
                width 24px
                height 18px
                text-indent -9999px
                + .lang
                    margin-top 4px
                &.lang-en
                    background $img('en.png') no-repeat center
                &.lang-pt
                    background $img('pt.png') no-repeat center
                &.lang-es
                    background $img('es.png') no-repeat center
        .extras
            margin-left 12px
            max-width 130px
            a
                display block
                text-transform uppercase
                text-decoration none
                text-align center
                roboto 13
                color #000
                border 1px solid #000
                padding 5px
                line-height 1.2
                margin 0
                transition background .3s, color .3s
                + a
                    margin-top 4px
                &:hover
                    background #000
                    color #fff
        +below($tablet)
            display block
            nav
            .extras
                display none
            .links-social
                position absolute
                top 22px
                right 102px
                margin 0
                .social
                    display inline-block
            .lang-wrapper
                position absolute
                right 0
                top 63px
                height 40px
                display flex
                flex-direction column
                justify-content center
            .telefones
                border 0
                padding 0
                margin 0
                display inline-block
                position absolute
                bottom 17px
                right 40px
                span
                    text-align right
                    padding 0
                    padding-right 22px
                    background-position right center !important
    #mobile-handle
        display inline-block
        position absolute
        right 0
        top 20px
        background #000
        padding 7px 26px
        color #fff
        myriad 15
        text-decoration none
        transition background .3s
        &.close
            background $laranja
        +above($tablet)
            display none !important
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        top 120px
        width 100%
        background $laranja
        padding 10px 5%
        text-align right
        a
            display block
            roboto 16
            color #000
            text-decoration none
            margin 8px 0

section
    padding 50px 0
    background #F0F0F0
    +below($tablet)
        padding 5% 0
    h2
        roboto 36
        text-align center
        color #000
        margin 0 0 30px
        +mobile()
            roboto 24
            margin-bottom 20px
    h3
        roboto 18
        text-align center
        color #000
        margin 0 0 30px
        +mobile()
            roboto 16
    &#not-found
        padding 25vh 0
        text-align center
        h3
            display block
            padding 10px
            roboto 16
        a
            display inline-block
            background $laranja
            padding 10px
            roboto 14
            color #000
            text-decoration none

footer
    background $cinza
    .footer-info
        clearfix()
        padding 30px 0
        +below($tablet)
            padding 5% 0
        .links-col
            float left
            margin-right 40px
            a
                display block
                color #fff
                text-decoration none
                roboto 16
                line-height 1.5
                transition color .3s
                &:hover
                    color $laranja
            +mobile()
                width 100%
                margin-right 0
                a
                    roboto 14
        .footer-contato
            float right
            +below($tablet)
                clear both
                float left
                margin-top 5%
            img
                float left
                +mobile()
                    width 60px
            .footer-contato-texto
                float left
                margin-left 15px
                p
                    roboto 16
                    color #fff
                    margin 0
                    line-height 1.4
                    &.telefone
                        span
                            display block
                            roboto 16
                            strong
                                roboto 24
                            &:nth-child(1)
                                padding-left 22px
                                background $img('telefone.png') no-repeat left center
                            &:nth-child(2)
                                padding-left 22px
                                background $img('whats.png') no-repeat left center
                    +mobile()
                        roboto 14
                        &.telefone
                            span
                                roboto 14
                                strong
                                    roboto 18
    .footer-copyright
        padding 10px 0
        border-top 1px solid #fff
        text-align center
        p
            margin 0
            myriad 10
            color #fff
            span.div
                &:before
                    content " | "
                +mobile()
                    display block
                    &:before
                        display none
            a
                color #fff
                text-decoration none

.lightbox-wrapper
    clearfix()
    padding 40px
    width 980px
    +below($tablet)
        width auto
        padding 25px
    +mobile()
        padding 20px
