section#business-center
    .mapa
        clearfix()
        margin-bottom 45px
        &.mapa-2
            margin-bottom 0
        .mapa-list
            width 190px
            float left
            list-style-type none
            padding 0
            margin 0
            li
                roboto 14
                display block
                margin-bottom 10px
                text-transform uppercase
                position relative
                cursor pointer
                span
                    display block
                    height 17px
                    text-align right
                    padding-right 22px
                    color #000
                    text-decoration none
                    position relative
                    line-height 18px
                    z-index 2
                    transition color .3s
                &:before
                    content ""
                    position absolute
                    width 17px
                    height 17px
                    top 0
                    right 0
                    border 1px solid #000
                    transition width .3s
                &.escritorios:before
                &.salas:before
                    background #BA5B6B
                &.recepcao:before
                    background #B00C9A
                &.copa:before
                    background #0093BA
                &.banheiros:before
                    background #DFD879
                &.area-de-networking:before
                &.espaco-social:before
                    background #1A7C2D
                &.shared-space:before
                &.showroom:before
                    background #52A91A
                &.coworking:before
                &.auditorio:before
                    background #D7B4A0
                &.salas-de-reuniao:before
                    background #65B2CC
                &.elevadores:before
                    background #C4809D
                &.copiadora:before
                    background #435961
                &.deposito:before
                    background #727479
                &.mail-box:before
                    background #B26765
                &.sala-zen:before
                    background #6CD6B0
                &.area-operacional:before
                    background #e2bb42
                &.active
                    span
                        color #fff
                    &:before
                        width 100%
            +tablet()
                width 155px
                li
                    roboto 11
                    span
                        height 15px
                        line-height 16px
                    &:before
                        width 16px
                        height 16px
            +mobile()
                display none
        .mapa-imagem
            max-width calc("100% - 230px")
            float left
            position relative
            margin-left 40px
            +tablet()
                max-width calc("100% - 175px")
                margin-left 20px
            +mobile()
                width 100%
                max-width 100%
                margin 0
            img
                max-width 100%
                height auto
                vertical-align middle
            .mapa-imagem-hover
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background-size 100% auto
                +mobile()
                    display none !important
            .mapa-loading
                display none
                position absolute
                width 44px
                height 44px
                border-radius 4px
                top 50%
                left 50%
                margin-top -22px
                margin-left -22px
                background url('../vendor/fancybox/source/fancybox_loading.gif') no-repeat center rgba(#000, .8)
                +mobile()
                    display none !important
            .mapa-aviso
                +mobile()
                    display none
                position absolute
                z-index 2
                width 65%
                height 50%
                top 25%
                left 17.5%
                background rgba(#fff, .85)
                border 1px solid #000
                cursor pointer
                transition background .3s
                &:hover
                    background rgba(#fff, .95)
                .mapa-aviso-wrapper
                    display table
                    position absolute
                    width 100%
                    height 100%
                    padding 10%
                    p
                        display table-cell
                        vertical-align middle
                        text-align center
                        roboto 15
