.clientes-content
    h1
        color #000
        margin 0 0 1em
        roboto 30 bold
        text-align center
        +mobile()
            font-size 20px
    .clientes-imagens
        width 100%
        clearfix()
        img
            width calc('20% - 32px')
            display block
            margin-right 40px
            margin-bottom 25px
            float left
            &:nth-child(5n)
                margin-right 0
            +mobile()
                width calc('33.333% - 13.333px')
                margin-right 20px
                margin-bottom 20px
                &:nth-child(5n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
