section#compare
    +mobile()
        .compare-tabela
        .legenda
        h2
            display none
    .compare-tabela
        width 100%
        .coluna-principal
            width 64%
        .coluna-checkbox
            width 9%
        thead
            background $cinza
            th
                border 3px solid $laranja
                color #fff
                myriad 20
                text-align center
                padding 10px 14px
                &.titulo
                    text-align left
                    vertical-align bottom
                img
                    display block
                    margin 0 auto 10px
        tbody
            background #E6E6E6
            td
                border 3px solid #F0F0F0
                padding 10px 14px
                text-align center
                vertical-align middle
                roboto 18
                &.titulo
                    text-align left
    .legenda
        padding-left 14px
        margin-top 14px
        myriad 14
        font-style italic
        color lighten($cinza, 5)
.infinity-spaces
    myriad 16 bold
    font-weight 700
    font-style italic
    color #000
    text-decoration none
    transition color .3s
    padding-left 14px
    &:hover
        color $laranja
    img
        margin-left 14px
        vertical-align bottom
    +mobile()
        display block
        width 100%
        padding 0
        text-align center
        img
            width 104px
            display block
            margin 5px auto 0