section#conceito
    background #fff
    clearfix()
    h2
        roboto 46
        margin-bottom 50px
        +tablet()
            roboto 32
            margin-bottom 30px
        +mobile()
            roboto 24
            margin-bottom 20px
    .conceito-col
        width 25%
        float left
        text-align center
        padding 0 5%
        position relative
        +mobile()
            width 50%
            padding 0 10%
            &:nth-child(2):after
                display none
        &:after
            content ""
            position absolute
            top 25%
            +tablet()
                top 22%
            right -15px
            width 30px
            height 30px
            background $img('simbolo-mais.png') no-repeat center
        &:last-child:after
            display none
        img
            max-width 100%
            height auto
        h3
            myriad 22
            margin 20px 0
            +tablet()
                myriad 18
                margin 15px 0
            +mobile()
                myriad 16
                margin 10px 0
        p
            roboto 18
            margin-top 20px
            +tablet()
                myriad 14
            +mobile()
                myriad 13
    .conceito-galeria
        clearfix()
        float left
        margin-top 40px
        +tablet()
            margin-top 30px
        +mobile()
            margin-top 15px
        a
            display block
            width 25%
            float left
            border 1px solid #fff
            position relative
            &:after
                content ""
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('simbolo-mais-saiba-mais-on.png') no-repeat center
                z-index 2
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
            img
                display block
                width 100%
                height auto
            +mobile()
                width 50%