section#contato
    clearfix()
    .contato-info
        width 56%
        float left
        +below($tablet)
            width 100%
        p
            roboto 20
            color #000
            margin 0
            line-height 1.4
            &.telefone
                span
                    display block
                    roboto 16
                    strong
                        roboto 28
                    &:nth-child(1)
                        padding-left 22px
                        background $img('telefone.png') no-repeat left center
                    &:nth-child(2)
                        padding-left 22px
                        background $img('whats.png') no-repeat left center
            +mobile()
                display inline
                &:after
                    content " · "
                &.telefone
                    display block
                    &:after
                        display none
                &:last-of-type:after
                    display none
        .googlemaps
            width 100%
            height 252px
            margin-top 25px
            iframe
                width 100%
                height 100%
                display block
            +mobile()
                height 180px
            +below($tablet)
                margin-bottom 25px
    .contato-form
        width 37%
        float right
        +below($tablet)
            width 100%
        input
        textarea
            background #fff
            border 0
            outline 0
            width 100%
            display block
            resize none
            padding 10px
            myriad 16
            color #000
            margin-bottom 3px
            &[type=submit]
                background $cinza
                text-align left
                color #fff
                transition background .3s
                margin-bottom 0
                &:hover
                    background $laranja
        textarea
            height 259px
        #form-contato-response
            display none
            width 100%
            padding 10px
            border 1px solid $laranja
            margin-top 5px
            text-align center
            roboto 12
    .contato-galeria
        width 100%
        float left
        margin-top 40px
        +tablet()
            margin-top 25px
        +mobile()
            display none
        a
            display block
            width 20%
            float left
            border-left 1px solid #F0F0F0
            border-right 1px solid #F0F0F0
            position relative
            &:after
                content ""
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('simbolo-mais-saiba-mais-on.png') no-repeat center
                z-index 2
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
            img
                display block
                width 100%
                height auto
