section#experimente
    background $cinza
    border-top 2px solid $laranja
    text-align center
    h2
    h3
        color #fff
    h2
        margin-bottom 20px
    .test-drive-link
        display inline-block
        border 1px solid #fff
        padding 14px 60px 14px 20px
        color #fff
        roboto 18
        text-decoration none
        background $img('setinha-branca.png') no-repeat 92% center
        transition background .3s
        &:hover
            background-color $laranja
    .experimente-galeria-wrapper
        margin-top 40px
        +mobile()
            display none
        clearfix()
        .ilustracao
            width 16.6667%
            float left
            margin-top 25px
            img
                width 100%
                height auto
            +tablet()
                display none
        .experimente-galeria
            width 78%
            float right
            position relative
            +tablet()
                width 100%
            a
                display block
                border 1px solid #000
                position relative
                &:after
                    content ""
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('simbolo-mais-saiba-mais-on.png') no-repeat center
                    z-index 2
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
                img
                    width 100%
                    height auto
                    display block

.slick-prev
    display none !important

.slick-next
    position absolute !important
    right -25px !important
    top 0 !important
    width 20px !important
    height 100% !important
    background $img('setinha-preta.png') no-repeat center
    border 0
    outline 0
    text-indent -9999px

.slick-slide
    margin 0 2px !important
.slick-list
    margin 0 -2px !important

.experimente-content
    > p
        roboto 16
        text-align center
        margin 30px 0 0
    form
        clearfix()
        h3
            color $laranja
            roboto 24
            font-weight 700
            text-align center
            text-transform uppercase
            margin 0
        p
            margin 0 0 15px
            roboto 20
            font-weight 700
            color $laranja
        > input, .row input[type='text']
            width 100%
            roboto 16
            padding 10px
            border 1px solid lighten($cinza, 30)
            outline 0
            margin-bottom 3px
            &[type='submit']
                background $laranja
                color #fff
                roboto 20
                margin-bottom 0
                margin-top 20px
                font-weight 700
        .row
            margin-bottom 40px
            +mobile()
                margin-bottom 20px
            input[type='text']
                width 25%
                margin-right 7%
                +mobile()
                    width 100%
                    margin 0
                    margin-bottom 15px
            label
                display inline-block
                roboto 16
                cursor pointer
                color $cinza
                &:first-of-type
                    margin-right 15px
                input
                    margin-right 5px
                    outline 0
                +mobile()
                    width 100%
                    margin-right 0 !important
        #form-experimente-response
        #form-imovel-response
            display none
            margin-top 10px
            margin-bottom -10px
            padding 10px
            text-align center
            roboto 16
            border 1px solid $laranja
            color $laranja
