section#facilities
    background #fff
    padding-top 0
    padding-bottom 35px
    border-bottom 1px solid $cinza
    position relative
    h2
        margin-bottom 20px
    .facilities-texto
        display none
        width 80%
        margin 25px auto 0
        +below($tablet)
            width 100%
        +mobile()
            margin-top 15px
        clearfix()
        .col
            width 47.5%
            margin-right 5%
            float left
            roboto 18
            &:first-child
                text-align right
            &:last-child
                margin-right 0
            p:first-child
                margin-top 0
            +mobile()
                width 100%
                margin 1% 0 0
                roboto 16
                &:first-child
                    text-align left
    .facilities-handle
        position absolute
        bottom -21px
        width 200px
        margin 0 auto
        left 50%
        margin-left -100px
        text-align center
        height 65px
        roboto 16
        color #000
        text-decoration none
        background $img('simbolo-mais-saiba-mais.png') no-repeat center bottom
        transition color .3s, background .3s
        &:hover
            color $laranja
            background-image $img('simbolo-mais-saiba-mais-on.png')
        &.open
            color #fff
            background-image $img('simbolo-menos-saiba-mais.png')
            &:hover
                background-image $img('simbolo-menos-saiba-mais-on.png')