.fancybox-title
    font-family 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif !important

.fancybox-skin
    border-radius 0 !important
    background #fff !important
    box-shadow none !important

.fancybox-close
    background $img('close.png') no-repeat center !important
    top -36px !important
    right -12px !important