.historico-content
    .aside
        width 24%
        float left
        text-align center
        h1
            color $laranja
            margin 0 0 30px
            roboto 24 bold
        img
            vertical-align middle
            max-width 100%
            height auto
        +tablet()
            width 20%
        +mobile()
            width 100%
            img
                display none
            h1
                margin-bottom 15px
    .texto
        width 65%
        float right
        color #000
        roboto 16
        line-height 1.5
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
        +tablet()
            width 70%
        +mobile()
            width 100%
            float left
