section#indique
    background $cinza
    border-top 2px solid $laranja
    border-bottom 2px solid $laranja
    h2
    h3
        color #fff
    h2
        margin-bottom 20px
    form
        width 80%
        margin 0 auto
        +below($tablet)
            width 100%
        clearfix()
        input
            width 40.5%
            float left
            margin-right .5%
            padding 14px 10px
            outline 0
            border 1px solid #fff
            background transparent
            color #fff
            roboto 16
            +mobile()
                width 100%
                margin-bottom 5px
            &[type='submit']
                width 18%
                margin-right 0
                text-align left
                padding-left 20px
                padding-right 20px
                background $img('setinha-branca.png') no-repeat 88% center
                transition background .3s
                &:hover
                    background-color $laranja
                +mobile()
                    display block
                    width 140px
                    margin 0 auto
                    float none
        #form-indique-response
            display none
            width 100%
            float left
            margin-top 10px
            text-align center
            color $laranja
            roboto 14
            border 1px solid $laranja
            padding 10px