.midia-content
    h1
        color $laranja
        margin 0 0 30px
        roboto 24 bold
        text-align center
    .midia-thumbs
        clearfix()
        a
            display block
            width 22.222%
            float left
            margin-right 3.7%
            margin-bottom 3.7%
            text-decoration none
            &:nth-child(4n)
                margin-right 0
            +mobile()
                width 48.15%
                margin-bottom 6%
                &:nth-child(2n)
                    margin-right 0
            p
                roboto 16
                color #000
                text-align center
                margin 5px 0 0
            .quadrado
                width 100%
                height 0
                padding-bottom 100%
                background #DC5800
                position relative
                overflow hidden
                img
                    position absolute
                    display block
                    top 0
                    left 0
                span
                    myriad 16 bold
                    color #fff
                    display block
                    width 100%
                    padding 0 10px
                    position absolute
                    left 0
                    top 50%
                    transform translateY(-50%)
                    text-align center
                .overlay
                    position absolute
                    z-index 2
                    top 0
                    left 0
                    right 0
                    bottom 0
                    background rgba(#000, .5)
                    opacity 0
                    transition opacity .3s
                    +mobile()
                        display none
                    &.overlay-link
                        background $img('icone-link.png') no-repeat center rgba(#000, .5)
            &:hover
                .overlay
                    opacity 1
    .midia-show
        text-align center
        .midia-slider
            width 100%
            display block
            > div
                width 100%
                padding 0 40px
                position relative
                +mobile()
                    padding 0 20px
                img
                    max-width 100%
                    margin 0 auto
            .controls
                position absolute
                display block
                height 100%
                width 40px
                top 0
                text-indent -9999px
                z-index 102
                &.cycle-prev
                    left 0
                    background $img('seta-laranja-esquerda.png') no-repeat center left
                &.cycle-next
                    right 0
                    background $img('seta-laranja-direita.png') no-repeat center right
                +mobile()
                    width 20px
                    background-size 15px auto !important
        p
            text-align center
            color #000
            roboto 20
            +mobile()
                font-size 16px
        .midia-voltar
            display inline-block
            background $laranja
            roboto 18 normal bold
            text-transform uppercase
            color #fff
            text-decoration none
            padding 10px 80px
            margin-top 10px
            transition background .3s
            &:hover
                background #DC5800
            +mobile()
                padding 10px 25px
            span
                display inline-block
                width 10px
                height 10px
                vertical-align middle
                margin-right 8px
                margin-top -2px
                background $img('seta-voltar.png') no-repeat center
    +mobile()
        h1
            margin-bottom 15px
