.perfil-content
    text-align center
    h1
        margin 0 0 20px
        background darken($laranja, 14)
        display inline-block
        padding 10px 100px
        roboto 18
        font-weight 700
        color #fff
        text-transform uppercase
        +mobile()
            width 100%
            padding 10px
            margin-bottom 10px
    .texto
        text-align left
        roboto 16
        line-height 1.5
        ul
            padding 0
            li
                margin 4px 0
                margin-left 1em
        p:last-child
            margin-bottom 0
    h4
        roboto 16
        font-weight 700
        text-align center
        margin 35px 0 0
    .perfil-content-planos
        clearfix()
        display flex
        flex-wrap wrap
        align-items stretch
        .plano
            width 25%
            float left
            border-right 1px solid $laranja
            padding 15px 2%
            margin-top 1.5%
            &:nth-child(5)
            &:nth-child(9)
            &:first-child
                border-left 1px solid $laranja
            img
                max-width 80%
            p
                margin 10px 0 0
                roboto 16
            +mobile()
                width 50%
                margin-top 3%
                padding 15px 3%
                &:nth-child(5)
                &:nth-child(9)
                &:first-child
                    border-left none
                &:nth-child(odd)
                    border-left 1px solid $laranja

