section#perfis
    padding-top 70px
    padding-bottom 25px
    +mobile()
        padding 50px 0 15px
    .perfis-lista
        width 80%
        margin 0 auto
        +below($tablet)
            width 100%
        .row
            display flex
            +mobile()
                display block
            clearfix()
            &:nth-child(odd) a
                background darken($laranja, 14)
                &:hover
                    background darken($laranja, 22)
        a
            display block
            width 33.333%
            float left
            text-align center
            roboto 18
            padding 8px
            border 1px solid #F0F0F0
            background $laranja
            color #fff
            text-decoration none
            text-transform uppercase
            transition background .3s
            &:hover
                background darken($laranja, 22)
            +mobile()
                width 100%