.plano-content
    clearfix()
    .plano-content-titulo
        clearfix()
        width 40%
        float left
        img
            vertical-align middle
            height auto
            float left
            margin-right 20px
        h1
            margin 0
            myriad 16
            color $laranja
            span
                myriad 28
                margin-right .3em
        +mobile()
            width 100%
    .plano-content-chamada
        float right
        width 58%
        p
            margin 0
            roboto 16
            line-height 1.5
            font-weight 700
            color $laranja
        +mobile()
            width 100%
            margin-top 15px
    .texto
        clear both
        margin-top 30px
        float left
        text-align left
        roboto 16
        line-height 1.5
        width 64%
        +below($mobile)
            width 100%
            margin-bottom 25px
            margin-top 15px
        p:first-child
            margin-top 0
        ul
            padding 0
            li
                margin 4px 0
                margin-left 1em
        p:last-child
            margin-bottom 0
    .plano-form
        width 28%
        float right
        margin-top 30px
        h3
            roboto 16
            font-weight 700
            color $laranja
            margin 0 0 10px
        +below($mobile)
            width 100%
            margin-top 0
        input
        textarea
            width 100%
            roboto 16
            padding 10px
            border 1px solid lighten($cinza, 30)
            outline 0
            margin-bottom 3px
            &[type='submit']
                background $laranja
                color #fff
                roboto 20
                margin-bottom 0
                font-weight 700
        textarea
            height 180px
            resize none
        #form-plano-response
            display none
            width 100%
            padding 10px
            border 1px solid $laranja
            margin-top 5px
            text-align center
            roboto 12
