section#planos
    .planos-tipo-1
        clearfix()
        width 100%
        display flex
        +below($tablet)
            flex-wrap wrap
        a
            display block
            display flex
            flex-direction column
            width 24.625%
            float left
            margin-right 0.5%
            text-decoration none
            margin-bottom 5%
            &:last-child
                margin-right 0
            +above($tablet)
                &:hover .mais
                    background $laranja
            +tablet()
                width 49.75%
                flex-grow 1
                flex-wrap wrap
                &:nth-child(2n)
                    margin-right 0
            +mobile()
                width 100%
                margin-right 0
                flex-grow 1
                flex-shrink 0
            img
                display block
                flex-grow 0
                max-width 100%
                height auto
                margin-left 20px
            .box
                margin-top 10px
                background $cinza
                border 3px solid $laranja
                flex-grow 1
                display flex
                flex-direction column
                position relative
                &:before
                    content ""
                    width 20px
                    height 14px
                    position absolute
                    background $img('dente-caixas-planos.png') no-repeat center
                    top -3px
                    left 20px
                .detalhe
                    width 30px
                    height 30px
                    position absolute
                    top -16px
                    right -16px
                    background #F0F0F0
                    transform rotate(45deg)
                    border-bottom 3px solid $laranja
                    +mobile()
                        width 20px
                        height 20px
                        top -11px
                        right -11px
                h3
                    text-align left
                    color #fff
                    margin 30px 0 15px
                    padding 0 20px
                    myriad 16
                    span
                        myriad 26
                .chamada
                    flex-grow 1
                    padding 0 20px
                    color #fff
                    roboto 16
                    margin 0 0 10px
                .preco
                    roboto 12
                    color #fff
                    padding 0 20px
                    span
                        roboto 24
                        line-height 1.5
                .mais
                    width 100%
                    border-top 3px solid $laranja
                    roboto 20
                    color #fff
                    line-height 2
                    padding 10px 20px
                    transition background .3s
                    img
                        display inline
                        margin 0 2px
                        transform translateY(2px)
    .planos-tipo-2
        clearfix()
        margin-top 6px
        a
            background $cinza
            border 3px solid $laranja
            display block
            margin-bottom 6px
            position relative
            overflow hidden
            text-decoration none
            +above($mobile)
                min-height 100px
            &:hover .right
                color $laranja
            &.digital-signage-plan
                background $img('icone-digital-signage.png') no-repeat 20px center $cinza
            &.networking
                background $img('icone-networking.png') no-repeat 20px center $cinza
            &.eventos-e-reunioes
                background $img('icone-eventos-reunioes.png') no-repeat 20px center $cinza
            +tablet()
                background-size 40px auto !important
            +mobile()
                background-size 40px auto !important
                background-position 6% 6% !important
            .left
                position absolute
                height 100%
                width 26%
                left 0
                top 0
                padding-left 10%
                .left-wrapper
                    width 100%
                    height 100%
                    display table
                    h3
                        display table-cell
                        vertical-align middle
                        margin 0
                        color #fff
                        myriad 30
                        text-align left
                &:after
                    content ""
                    width 3px
                    height 200%
                    background $laranja
                    position absolute
                    top -50%
                    right -10%
                    transform rotate(-45deg)
                +tablet()
                    &:after
                        display none
                    width 220px
                    border-right 3px solid $laranja
                    padding-left 75px
                    padding-right 15px
                    .left-wrapper
                        h3
                            myriad 20
                +mobile()
                    width 100%
                    position relative
                    .left-wrapper
                        h3
                            myriad 20
                            height 50px
                            line-height 60px
                            padding-left 40px
                    &:after
                        display none
            .chamada
                width 49%
                margin 0
                margin-left 35%
                roboto 16
                color #fff
                padding 10px 0
                +tablet()
                    width calc("100% - 345px")
                    margin-left 245px
                +mobile()
                    width 100%
                    margin-left 0
                    padding 5%
                    padding-top 2.5%
                    p
                        margin 0
            .right
                position absolute
                height 100%
                width 10%
                padding-left 2%
                right 0
                top 0
                roboto 20
                color #fff
                .right-wrapper
                    height 100%
                    width 100%
                    display table
                    position relative
                    z-index 4
                    p
                        transition color .3s
                        display table-cell
                        vertical-align middle
                        text-align center
                        margin 0
                        img
                            display block
                            margin 5px auto 0
                &:after
                    content ""
                    width 3px
                    height 200%
                    background $laranja
                    position absolute
                    top -50%
                    left -25%
                    transform rotate(-45deg)
                +tablet()
                    &:after
                    &:before
                        display none
                    roboto 18
                    padding 0
                    width 80px
                    border-left 3px solid $laranja
                +mobile()
                    position relative
                    width 100%
                    border-top 3px solid $laranja
                    padding 10px 5%
                    roboto 17
                    .right-wrapper
                        p
                            text-align left
                            img
                                display inline
                                transform translateY(3px) translateX(2px)
                            br
                                display none
                    &:after
                    &:before
                        display none
