section#servicos
    .servicos-lista
        clearfix()
        .servicos-item
            width 33.33%
            float left
            padding 2px 20px 2px 35px
            background $img('icone-bullet.png') no-repeat left 4px
            roboto 20
            +tablet()
                roboto 18
                padding 2px 16px 2px 31px
            +mobile()
                width 100%
                roboto 16
                margin-bottom 3px