section#video
    background-color $cinza
    background-size cover
    background-position center
    min-height 750px
    position relative
    width 100%
    padding 0
    +below($tablet)
        min-height auto
        padding 5% 0 80px
    .center
        height 100%
        display flex
        flex-direction column
        justify-content center
    .video-box
        width 800px
        height 451px
        position relative
        margin 0 auto
        +below($tablet)
            width 100%
            height 400px
        +mobile()
            height 260px
        .video-player
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            display none
            z-index 2
    .botoes
        margin 60px auto 0
        width 100%
        max-width 800px
        display flex
        a
            display flex
            flex 1
            white-space nowrap
            border 1px solid #fff
            transition background .3s
            color #fff
            align-items center
            justify-content center
            padding 8px 26px
            roboto 16 normal bold
            text-decoration none
            letter-spacing -.3px
            &:hover
                background $laranja
            +tablet()
                white-space normal
                font-size 15px
            + a
                flex 0 0 300px
                margin-left 10px
                +tablet()
                    flex 0
                    white-space nowrap
            img
                width 32px
                margin-left 20px
        +mobile()
            display block
            a
                width 100%
                white-space normal
                font-size 14px
                letter-spacing 0
                + a
                    margin 5px 0 0
    .saiba-mais
        display block
        position absolute
        bottom 30px
        left 50%
        transform translateX(-50%)
        roboto 16
        padding-right 25px
        color #fff
        text-decoration none
        height 20px
        background $img('seta-saiba-mais-home.png') no-repeat right center
